<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ICanCook</title>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="/home.css">
    </head>
    <body>
        <header >
            <a href="#" class="logo"><i class="fas fa-utensils"></i> ICanCook.</a>
            <nav class="navbar">
                <a th:href="@{/login}">Login/Sign in</a>
                <a class="register" th:href="@{/register}">Register/Sign up</a>
            </nav>
            <a href="#" class="help">DO YOU NEED TO HELP?</a>
        </header>
    </body>

</html>